
{% extends "pages/layout/base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
   <section class="hero" id="hero">
     {% include "pages/partials/header.html" %}
     <div class="container">
            <div class="header-table">
                <div class="header-wrapper">
                        <h1 class="header-title">About Mahasewa</h1>
                    </h1>
            </div>
        </div> <!-- /.container -->
   </section>
   <section>
   <div class="row">
   <div class="divWrap col-md-6">
     <p>Mahasewa telah hadir sejak tahun 2017, sejak saat itu
Mahasewa terus berkembang dan berupaya menjadi
platform penyedia layanan management assets dan
penyewaan di Indonesia. Produk yang kami tawarkan
dapat diakses melalui situs Mahasewa.id. </p> </br>
       
        <div class="contact-icon" style="margin-bottom:2rem;"><img src="{% static 'assets/black/WhatsApp.svg' %}"> <h5 style="display:inline-block; margin-left:1rem;">+62-822-9838-9267</h5></div>
       <div class="contact-icon" style="margin-bottom:2rem;"><img src="{% static 'assets/black/Line.svg' %}"> <h5 style="display:inline-block; margin-left:1rem;"> @mahasewa.id</h5></div>
       <div class="contact-icon" style="margin-bottom:2rem;"><img src="{% static 'assets/black/Instagram.svg' %}"> <h5 style="display:inline-block; margin-left:1rem;">mahasewa.id</h5></div>
       <div class="contact-icon" style="margin-bottom:2rem;"><img src="{% static 'assets/black/Facebook.svg' %}"> <h5 style="display:inline-block; margin-left:1rem;">Mahasewa Id</h5></div>
       <div class="contact-icon" style="margin-bottom:2rem;"><img src="{% static 'assets/black/linkedin.svg' %}"> <h5 style="display:inline-block; margin-left:1rem;">Mahasewa Indonesia</h5></div>
   </div>
   <div class="divWrap col-md-6">
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.220260742616!2d106.81803645089104!3d-6.365534464020662!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69ec1de79c42dd%3A0xb62fe066b8d68446!2sJl.+H.+M.+Kuru%2C+Kukusan%2C+Beji%2C+Kota+Depok%2C+Jawa+Barat+16425!5e0!3m2!1sen!2sid!4v1556503934109!5m2!1sen!2sid" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
     {% comment %} <div id="map"></div> {% endcomment %}
   </div>
   </div>
   </section>

<style type="text/css">
.contact-icon > h5 {
    font-size: 2rem;
}
#map {
        height: 60vh;
        width: 100vw;
       }
.divWrap {
  padding: 5% 5% 5%;
}
.divWrap > p {
    font-size: 2rem;
}
.wrapper {
   height:100%;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
}
.wrapper td {
   vertical-align: middle;
   text-align: center;
}

html,body
{
    overflow-x: hidden;
}

section {
    padding-right: 0;
    margin-right: 0;
    width:100vw;
}

.heroOverlay {
  background-color:rgba(0, 0, 0, 0.5);
  height: 100vw;
}

    .hero
{
    background: url('{% static 'assets/hero.png' %}');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-attachment: fixed;
    -o-background-attachment: fixed;
    -moz-background-attachment: fixed;
    -webkit-background-attachment: fixed;
    height: 50vh;
    color: #FFF;


}
    .about
{
    background-color: #FFF;
    padding-bottom: 5%;

}
    .why
{
    background-color: #F3F3F3;

}
.header-wrapper {
position: absolute;
left: 5%;
top: 30vh;
margin-right: 5%;
}
.header-title {
font-family: Open Sans;
font-style: normal;
font-weight: 800;
line-height: normal;
font-size: 4.5vw;
color: #FAFAFA;
}
.header-subtitle {
    position: absolute;
width: 257px;
height: 40px;
background: #F1F1F1;
opacity: 0.8;
border-radius: 60px;
}
.subtitle-wrapper {
    display: inline-block;
margin-top: 3%;
margin-left: 8%;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 20px;
color: #121212;
}
.arrow {
    width: 7%;
}

.logo-left {
    max-width: 100%;
    height: auto;
    padding-left: 15%;
    padding-top: 15%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.whath1{
    font-family: Open Sans;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 4vw;

color: #121212;
}
.whatp {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12pt;
text-align: justify;
}
.whatwrapper {
    padding-top: 5%;
    padding-right: 5%;
}
.pWhy {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12pt;
text-align: center;
color: #121212;
}

.pTesti {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
text-align: justify;
font-size: 12pt;
color: #121212;
}

.sButton {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12pt;
text-align: center;
font-size: 2vh;
padding: 3% 3% 3% 3%;
color: #999999;
}

.sButton:hover {
    font-family: Roboto;
font-style: bold;
font-weight: bold;
line-height: normal;
font-size: 12pt;
text-align: center;
font-size: 2vh;
padding: 3% 3% 3% 3%;
}

.readmore{
width: 183px;
height: 28px;
background: #000;
border-radius: 60px;
margin-bottom: 5%;
}
.readmore-wrapper {
    display: inline-block;
margin-top: 3%;
margin-left: 10%;
text-align: center;
font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12pt;
color: #FFF;
}
.hWhy {
    text-align: center;
    font-family: Open Sans;
    font-style: bold;
    font-weight: normal;
    line-height: normal;
    font-size: 3vw;
    color: #121212;
}
.card{
    /* Add shadows to create the "card" effect */
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 30vw;
    min-height: 60vh;
    border-radius: 3%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.crop {
    height: 50%;
    overflow: hidden;
}
/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    width: 100%;
}
.selengkapnyaWrapper {
    border-top: 2px solid #CCCCCC;
}
.selengkapnyaWrapper:hover {
    background: #F3F3F3;
    border-top: 2px solid #F3F3F3;
}
.slick-slide {
    margin-left: 0.5%;
    margin-right: 0.5%;
}
.roleText{
  font-family: Open Sans;
  font-style: normal;
  line-height: normal;
  font-weight: 600;
  font-size: 1.5vw;
color: #3C7BBE;
}
.footerLinks {
font-family: Roboto;
font-style: normal;
font-weight: 100;
color: #FAFAFA;
}
@media only screen and (max-width: 768px) {
.roleText {
  text-align: center;
}
.pTesti {
  text-align: center;
}
.header-title {
font-family: Open Sans;
font-style: normal;
font-weight: 800;
line-height: normal;
font-size: 8vw;
color: #FAFAFA;
}

.whatwrapper {
    padding-left: 5%;
    padding-right: 5%;
    align-self: center;
}
.whath1{
    font-family: Open Sans;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 8vw;

    color: #121212;
}
.logo-left {
    max-width: 100%;
    height: auto;
    margin: auto;
    padding-right: 15%;
}
.hWhy {
  text-align: center;
    font-family: Open Sans;
    font-style: bold;
    font-weight: normal;
    line-height: normal;
    font-size: 8vw;
    color: #121212;
}
.helper {
    display: inline-block;
    height: 100%;
}
</style>
<script>
// Initialize and add the map
function initMap() {
// The location of Uluru
var uluru = {lat: -6.362990, lng: 106.815214};
// The map, centered at Uluru
var map = new google.maps.Map(
  document.getElementById('map'), {zoom: 14, center: uluru});
// The marker, positioned at Uluru
var marker = new google.maps.Marker({position: uluru, map: map});
}
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjUOuIW-eL9C2vu_srbQuY9KVepLoEUIs&callback=initMap">
</script>
{% endblock %}
