
{% extends "pages/layout/base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
   <section class="hero" id="hero">
     {% include "pages/partials/header.html" %}
     <div class="container">
            <div style="margin-top:20vh;" class="header-table">
                <div class="header-wrapper">
                    <h1 class="header-title" style="margin:0;">{{apt.name}}</h1>
                    <p style="font-size:16pt;">{{apt.address}}</p>
            </div>
          </div>
        </div> <!-- /.container -->
        <div class="infoWrapper">
          <div class="col-md-7">
            <h1 style="color:black;">About {{apt.name}}</h1>
            <p style="color:black;">
              {{apt.descTextbox}}</p>
              <h1 style="color:black;">Facility</h1>
              <div class="row">
              {% for i in apt.facility.all %}
              <div class="col-md-2" style="height:20px;">
                <img style="margin-left:17%;" src="{{i.image.url}}"/>
              <p style="font-size:12pt; text-align: center; color: black;">
                {{i.facilityTextbox}}</p>
              </div>
                {% endfor %}
              </div>
          </div>
          <div style="margin-bottom:5%;" class="col-md-5">
            <div id="map"></div>
          </div>
        </div>
   </section>
   <section style="min-height:100vh;">

           <div style="padding-left: 5%; padding-right: 5%; padding-bottom: 1%; margin-top:5%;">
                {% for i in apt.room_set.all %}
  <div class="col-md-4">
  <div class="card">
    <div class="crop">
          <img src="{{i.images.first.image.url}}" style="width:100%">
    </div>
  <div class="container" style="min-height: 32vh;">
    <h4 style="font-size: 4vh; text-align: center;" class="whath1"><b>{{ i.apartment.name }}  {{i.no}}</b></h4>
    <p style="font-size: 2vh;" class="pWhy">{{ i.descTextbox }}</p>
  </div>
  <div class="selengkapnyaWrapper">
          <a href="{% url 'pages:room' i.id %}"><p class="sButton">Baca Selengkapnya</p></a>
  </div>
</div>
            </div>

        {% endfor %}
        </div>
   </section>

<style type="text/css">
#map {
        height: 40vh;  /* The height is 400 pixels */
       }
.divWrap {
  padding: 5% 5% 5%;
}
.infoWrapper {
  min-height: 48vh;
  margin-right: 5vw;
  margin-left: 5vw;
  padding: 2.5% 2.5% 0% 2.5%;
  background: #FFFFFF;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.wrapper {
   height:100%;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
}
.wrapper td {
   vertical-align: middle;
   text-align: center;
}

html,body
{
    overflow-x: hidden;
}

section {
    padding-right: 0;
    margin-right: 0;
    width:100vw;
}

    .hero
{
    background: url({{apt.image.url}});
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100vw 50vh;
    -o-background-size: 100vw 50vh;
    -moz-background-size: 100vw 50vh;
    -webkit-background-size: 100vw 50vh;
    color: #FFF;


}
    .about
{
    background-color: #FFF;
    padding-bottom: 5%;

}
    .why
{
    background-color: #F3F3F3;

}
.header-wrapper {
margin-left: 5%;
top: 15vh;
margin-right: 5%;
}
.header-title {
font-family: Open Sans;
font-style: normal;
font-weight: 800;
line-height: normal;
font-size: 4.5vw;
color: #FAFAFA;
}
.header-subtitle {
    position: absolute;
width: 257px;
height: 40px;
background: #F1F1F1;
opacity: 0.8;
border-radius: 60px;
}
.subtitle-wrapper {
    display: inline-block;
margin-top: 3%;
margin-left: 8%;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 20px;
color: #121212;
}
.arrow {
    width: 7%;
}

.logo-left {
    max-width: 100%;
    height: auto;
    padding-left: 15%;
    padding-top: 15%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.whath1{
    font-family: Open Sans;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 4vw;

color: #121212;
}
.whatp {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12pt;
text-align: justify;
}
.whatwrapper {
    padding-top: 5%;
    padding-right: 5%;
}
.pWhy {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12pt;
text-align: center;
color: #121212;
}

.pTesti {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
text-align: justify;
font-size: 12pt;
color: #121212;
}

.sButton {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12pt;
text-align: center;
font-size: 2vh;
padding: 3% 3% 3% 3%;
color: #999999;
}

.sButton:hover {
    font-family: Roboto;
font-style: bold;
font-weight: bold;
line-height: normal;
font-size: 12pt;
text-align: center;
font-size: 2vh;
padding: 3% 3% 3% 3%;
}

.readmore{
width: 183px;
height: 28px;
background: #000;
border-radius: 60px;
margin-bottom: 5%;
}
.readmore-wrapper {
    display: inline-block;
margin-top: 3%;
margin-left: 10%;
text-align: center;
font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12pt;
color: #FFF;
}
.hWhy {
    text-align: center;
    font-family: Open Sans;
    font-style: bold;
    font-weight: normal;
    line-height: normal;
    font-size: 3vw;
    color: #121212;
}
.card{
    /* Add shadows to create the "card" effect */
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    min-height: 60vh;
    border-radius: 3%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.crop {
    height: 50%;
    overflow: hidden;
}
/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    width: 100%;
}
.selengkapnyaWrapper {
    border-top: 2px solid #CCCCCC;
}
.selengkapnyaWrapper:hover {
    background: #F3F3F3;
    border-top: 2px solid #F3F3F3;
}
.slick-slide {
    margin-left: 0.5%;
    margin-right: 0.5%;
}
.roleText{
  font-family: Open Sans;
  font-style: normal;
  line-height: normal;
  font-weight: 600;
  font-size: 1.5vw;
color: #3C7BBE;
}
.footerLinks {
font-family: Roboto;
font-style: normal;
font-weight: 100;
color: #FAFAFA;
}
@media only screen and (max-width: 768px) {
  #map {
          height: 40vh;  /* The height is 400 pixels */
         }
.roleText {
  text-align: center;
}
.pTesti {
  text-align: center;
}
.whatwrapper {
    padding-left: 5%;
    padding-right: 5%;
    align-self: center;
}
.whath1{
    font-family: Open Sans;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 8vw;

    color: #121212;
}
.header-title {
font-family: Open Sans;
font-style: normal;
font-weight: 800;
line-height: normal;
font-size: 10vw;
color: #FAFAFA;
}
.logo-left {
    max-width: 100%;
    height: auto;
    margin: auto;
    padding-right: 15%;
}
.hWhy {
  text-align: center;
    font-family: Open Sans;
    font-style: bold;
    font-weight: normal;
    line-height: normal;
    font-size: 8vw;
    color: #121212;
}
.helper {
    display: inline-block;
    height: 100%;
}
</style>
<script>
// Initialize and add the map
function initMap() {
// The location of Uluru

var parse = {{apt.location}}
var uluru = parse;
// The map, centered at Uluru
var map = new google.maps.Map(
  document.getElementById('map'), {zoom: 14, center: uluru});
// The marker, positioned at Uluru
var marker = new google.maps.Marker({position: uluru, map: map});
}
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjUOuIW-eL9C2vu_srbQuY9KVepLoEUIs&callback=initMap">
</script>
{% endblock %}
