{% extends 'pages/layout/base.html' %}
{% load static %}
{% load staticfiles %}


{% block content %}
<section class="hero" id="hero">
       {% include "pages/partials/header.html" %}
       <div class="container">
            <div class="header-table">
                <div class="header-wrapper">
                </div> <!-- /.header-wrapper -->
            </div>
        </div> <!-- /.container -->
   </section>

    <section class="blog" id="blog">

        <div class="container">
        {% if blogs %}
        {% for blog in blogs %}
    <div class="card-container" style="">
        <div class="card-thumbnail" style="">
            <img src="{{blog.thumbnail.url}}"  alt="Test" style="">

        </div>

        <div class="card-txt" style="position : relative;">
            <p class="blog-title">{{blog.title | title | truncatechars:25 }}
            <br>
            <span style="" class="blog-writer">Written by : {{blog.writer}} </span>
            </p>
            <div class="blog-content" style="position : absolute;">
                <p class="blog-date"> {{blog.created_at}} </p>
                <hr style="height : 1px; color:#000; width: 92%; background-color:#000;">
                <p class="blog-body"> {{blog.body | truncatechars:90}} </p>
                <a class="btn btn-black" style="float:right; bottom :0; right:0; padding-top 10%;" href="{% url 'pages:blog_detail' blog.id %}">READ DETAIL</a>
            </div>

        </div>
    </div>

    {% endfor %}

<nav aria-label="Page navigation example" class="paginator">
  <ul class="pagination page-nav">
  {% if blogs.has_previous %}
    <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
    <li class="page-item"><a class="page-link" href="?page={{blogs.previous_page_number}}">Previous</a></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{blogs.number}}">&laquo; First</a></li>
  {% endif %}
  
    <li class="page-item active"><a class="page-link" href="#">{{blogs.number}} <span class="sr-only">(current)</span>  </a></li>
    {% if blogs.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{blogs.next_page_number}}">Next</a></li>
    <li class="page-item"><a class="page-link" href="?page={{blogs.paginator.num_pages}}">Last &raquo;</a></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{blogs.paginator.num_pages}}">Last &raquo;</a></li>
    {% endif %}
  </ul>
</nav>

    {% else %}
    <p class="whath1 whatt">Coming Soon</p>
{% endif %}
        </div>

    </section>




<style type="text/css">
.blog-writer {
    font-size: 1.5rem;
}
.paginator {
    margin-top : 10%;
    margin-left:15%;
}
.pagination > li.active > a {
    background-color: #000 !important;
    color : #fff !important;
    border-color: #fff !important;
}
.page-nav > li > a{
    color : #000 !important;
}
.whatt {
    text-align:center;
}
.blog-content {
    position : absolute;
    width : 100%;
    margin-top : 0%;
    align-content : center;
    height: 50%;
    {% comment %} margin-left : 2% !important;
    margin-top: 5% !important; {% endcomment %}
}
p {
    word-break: break-all;
}
.blog-title {
    {% comment %} text-align:center; {% endcomment %}
    font-size : 2.7rem;
    width : 70%;
    height : 23%;
    margin-left : 4% !important;
    font-weight : 600;
    margin-top :2rem;
    margin-bottom: 0;
}
.blog-date {
    {% comment %} position : relative; {% endcomment %}
    margin-top: 0;
    margin-left : 4% !important;
}
.blog-body {
    {% comment %} position : relative; {% endcomment %}
    text-align:left;
    width : 90%;
    word-break : break-all;
    margin-top :5%;
    height : 30%;
    margin-left:4%;
    font-size : 2rem;
}
.btn-black {
    width : 180px;
    {% comment %} position : absolute; {% endcomment %}
    border: none !important;
    background-color : black !important;
    color: white !important;
    margin-top : 4%;
    margin-right :4%;
    {% comment %} margin-bottom : 2%;
    margin-right : 4%; {% endcomment %}
}
.card-thumbnail {
    height: 100%; 
    width:auto;
}
.card-thumbnail > img {
    height: 100%;
    width: auto;
}
.card{
    /* Add shadows to create the "card" effect */

    border-radius: 3%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    {% comment %} box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); {% endcomment %}
}
.card-container {
   
    background : transparent;
    display : flex;
    width:70%; 
    height:400px; 
    align-content:center; 
    margin-left:15%;
    margin-top : 10% !important;
    margin-bottom : 8%;
}
.card-txt {
    display: inline-block;
    position : relative;
    margin : 2% 0;
    box-shadow : 0 4px 8px 0 rgba(0,0,0, 0.4);
    transition : 0.5s;
    border: 5px;
    width:100%;
}

.card-txt > p {
    margin: 2% 0%;
}
a {
    
    text-decoration:none !important;
}
.whath2 {
    margin-top: 0;
    margin-bottom:2rem;
    font-family: Open Sans;
    font-style : normal;
    font-weight: bold;
    line-weight: normal;
    font-size : 2.5rem;
    color : #FAFAFA;
}
.wrapper {
   height:100%;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
}
.wrapper td {
   vertical-align: middle;
   text-align: center;
}

html,body
{
    overflow-x: hidden;
}

section {
    padding-right: 0;
    margin-right: 0;
    width:100vw;
}

    .hero
{
    background: url('/static/assets/hero.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-attachment: fixed;
    -o-background-attachment: fixed;
    -moz-background-attachment: fixed;
    -webkit-background-attachment: fixed;
    height: 50vh;
    color: #FFF;


}
    .about
{
    background-color: #FFF;
    padding-bottom: 5%;

}
    .why
{
    background-color: #F3F3F3;

}
.header-wrapper {
    position: absolute;
left: 5%;
top: 40vh;
margin-right: 5%;
}
.header-title {
font-family: Open Sans;
font-style: normal;
font-weight: 800;
line-height: normal;
font-size: 4.5vw;
color: #FAFAFA;
}
.header-subtitle {
    position: absolute;
width: 257px;
height: 40px;
background: #F1F1F1;
opacity: 0.8;
border-radius: 60px;
}
.subtitle-wrapper {
    display: inline-block;
margin-top: 3%;
margin-left: 8%;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 20px;
color: #121212;
}
.arrow {
    width: 7%;
}

.logo-left {
    max-width: 100%;
    height: auto;
    padding-left: 15%;
    padding-top: 15%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.whath1{
    font-family: Open Sans;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 4vw;

color: #121212;
}
.whatp {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12pt;
text-align: justify;
}
.whatwrapper {
    padding-top: 5%;
    padding-right: 5%;
}
.pWhy {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12pt;
text-align: center;
color: #121212;
}

.pTesti {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
text-align: justify;
font-size: 12pt;
color: #121212;
}

.sButton {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12pt;
text-align: center;
font-size: 2vh;
padding: 3% 3% 3% 3%;
color: #999999;
}

.sButton:hover {
    font-family: Roboto;
font-style: bold;
font-weight: bold;
line-height: normal;
font-size: 12pt;
text-align: center;
font-size: 2vh;
padding: 3% 3% 3% 3%;
}

.readmore{
width: 183px;
height: 28px;
background: #000;
border-radius: 60px;
margin-bottom: 5%;
}
.readmore-wrapper {
    display: inline-block;
margin-top: 3%;
margin-left: 10%;
text-align: center;
font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12pt;
text-decoration: none !important;
color: #FFF;
}
.hWhy {
    text-align: center;
    font-family: Open Sans;
    font-style: bold;
    font-weight: bold;
    line-height: normal;
    font-size: 3vw;
    color: #121212;
}

.crop {
    height: 50%;
    overflow: hidden;
}
/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    width: 100%;
}
.selengkapnyaWrapper {
    border-top: 2px solid #CCCCCC;
}
.selengkapnyaWrapper:hover {
    background: #F3F3F3;
    border-top: 2px solid #F3F3F3;
}
.slick-slide {
    margin-left: 0.5%;
    margin-right: 0.5%;
}
.roleText{
  font-family: Open Sans;
  font-style: normal;
  line-height: normal;
  font-weight: 600;
  font-size: 1.5vw;
color: #3C7BBE;
}
.footerLinks {
font-family: Roboto;
font-style: normal;
font-weight: 100;
color: #FAFAFA;
}
@media only screen and (max-width: 1200px ) {
    .card-container{
        width:60%; 
        height:800px; 
        align-content:center; 
        display: inline-block;
        margin-left:20%;
        margin-top : 15rem;
    }
    .card-title {
        width : 100%;
    }
    .card-txt {
        margin-top : 0;
        margin-bottom : 0;
        width : 70%;
        margin-left: 15%;
        height : 50%;
        
    }
    .card-thumbnail {
        width : 80%;
        {% comment %} text-align: center;
         {% endcomment %}
         margin-left: 10%;
        height: auto;
    }

    .card-thumbnail > img {
        width : 100%;
        height : auto;
    }
    .blog-body {
        height : 60%;
    }
}

@media only screen and (max-width: 768px) {
    .btn-black {
        width : 100px;
        font-size : 1.2rem;
    }
    .card-title {
        width : 100%;
    }
    .card-title {
        font-size : 1rem;
    }
    .card-container {
        width: 90%;
        height : 800px;
        margin-left: 5%;
    }
    .card-thumbnail {
        width: 75%;
        height: auto;
        margin-left : 12.5%;
    }
    .card-txt {
        height : 45%;

    }
    .header-title {
        font-size: 10vw;
    }
    .whath2 {
        display:none;
    }
.roleText {
  text-align: center;
}
.pTesti {
  text-align: center;
}
.whatwrapper {
    padding-left: 5%;
    padding-right: 5%;
    align-self: center;
}
.whath1{
    font-family: Open Sans;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 8vw;

    color: #121212;
}
.logo-left {
    max-width: 100%;
    height: auto;
    margin: auto;
    padding-right: 15%;
}
.hWhy {
  text-align: center;
    font-family: Open Sans;
    font-style: bold;
    font-weight: normal;
    line-height: normal;
    font-size: 8vw;
    color: #121212;
}
.helper {
    display: inline-block;
    height: 100%;
}
}
@media only screen and (max-width : 630px) {
    .card-container {
        margin-bottom : 0rem;
        margin-top : 1.8rem;
    }
    .blog-title {
        font-size : 1.8rem;
        height : 30%;
        width : 100%;
    }
    .blog-body {
        font-size : 1.7rem;
    }
    .card-content {
        margin-top:8%;
    }
}

</style>
{% endblock content %}

