
{% extends "pages/layout/base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
   <section class="hero" id="hero">
     {% include "pages/partials/header.html" %}
     <div class="container">
            <div class="header-table">
                <div class="header-wrapper">
                    </h1>
            </div>
        </div> <!-- /.container -->
   </section>

<section class="blog-detail" id="blog-detail">
    <div class="container">
        <div class="detail row">
            <div class="col-md-8">
            <div class="blog-card">
                <div class="holder">
                    <div class="blog-thumbnail">
                        <img src="{{blog.thumbnail.url}}" alt="" class="thumb">
                    </div>
                    <div class="title">
                        <p class="blog-title"> {{blog.title | title}} </p>
                        <p class="blog-create"> {{blog.created_at}} </p>
                    </div>
                    <hr>
                    <div class="body">
                        <p class="blog-body">
                        {{blog.body |linebreaks }}
                        </p>
                    </div>
                    <hr class="hr-bawah">
                    <p class="blog-writer"> Article by : {{blog.writer}} </p>
                </div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="share-card">
                <div class="share">
                    <div class="share-content">
                        <p class="share-title"> Share this article </p>
                        <hr>
                        
                    </div>
                    <a href="#"> <img src="{% static 'assets/black/WhatsApp.svg' %}" alt="" class="icon"> </a>
                    <a href="#"> <img src="{% static 'assets/black/Line.svg' %}" alt="" class="icon"> </a>
                    <a href="#"> <img src="{% static 'assets/black/Instagram.svg' %}" alt="" class="icon"> </a>
                    <a href="#"> <img src="{% static 'assets/black/Facebook.svg' %}" alt="" class="icon"> </a>
                    <a href="#"> <img src="{% static 'assets/black/Twitter.svg' %}" alt="" class="icon"> </a>
                </div>
            </div>

            </div>
           
            
        </div>
    </div>
</section>


<style type="text/css">
.body > p {
    font-size : 2rem;
}
.share-card {
    box-shadow : 0px 2px 12px rgba(0,0,0,0.2);
    min-height : 50vh;
    transition : 0.3s;
    border-radius : 10px;
    width: 100%;
    margin-top: 4%;
}
.icon {
    width : 6rem;
    height : auto;
    margin-left : 7.5%;
    margin-bottom : 3%;
}
.share-content {
    margin-left :7.5%;
    margin-right :7.5%;
    margin-bottom : 4%;
}
.share-title {
    font-size: 6.2rem;
    font-weight: 1000;
}
.blog-writer {
    margin-left : 2%;
    margin-right : 2%;
    font-size: 2rem;
    margin-bottom : 4%;
    font-weight: 600;
}
.hr-bawah {
    margin-bottom : 5%;
}
html, body {
    min-height: 150vh;
}
hr {
    height : 1px;
    color:#000;
    background-color:#000;
    margin-left:2%;
    margin-right : 2%;
}
.body {
    margin-left:2%;
    margin-right : 2%;
    height: 60%;
}
.blog-body {
    font-size: 2rem;
}
.title {
    margin-left:2%;
    margin-right: 2%;
}
.blog-title {
    font-size : 5rem;
    font-weight : 600;
}
.blog-create {
    font-size: 1.8rem;
    font-weight: 600;
}
.blog-thumbnail {
    height: auto;
    width : 100%;

}
.thumb {
    display : block;
    margin-left : auto;
    margin-right : auto;
    width : 35%;
}
.blog-card {
    min-height : 150vh;
    box-shadow : 0px 2px 12px rgba(0,0,0,0.2);
    width : 100%;
    transition: 0.3s;
    border-radius : .7%;
    margin-top : 2%;
}
.holder {
    {% comment %} margin-left : 10%; {% endcomment %}
    height : 100%;
}
.share {
    width : 100%;
    height: 100%;
}
{% comment %} .thumb {
    width: 40%;
    height : auto;
    text-align : center;
    margin-left : 30%;
} {% endcomment %}

{% comment %} .blog-title {
    text-align: left;
    width : 50%;
    font-size : 10rem;
    font-weight:600;
} {% endcomment %}
a {
    
    text-decoration:none !important;
}
.whath2 {
    margin-top: 0;
    margin-bottom:2rem;
    font-family: Open Sans;
    font-style : normal;
    font-weight: bold;
    line-weight: normal;
    font-size : 2.5rem;
    color : #FAFAFA;
}
.wrapper {
   height:100%;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
}
.wrapper td {
   vertical-align: middle;
   text-align: center;
}

html,body
{
    overflow-x: hidden;
}

section {
    padding-right: 0;
    margin-right: 0;
    width:100vw;
}

    .hero
{
    background: url('{% static 'assets/hero.png' %}');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-attachment: fixed;
    -o-background-attachment: fixed;
    -moz-background-attachment: fixed;
    -webkit-background-attachment: fixed;
    height: 50vh;
    color: #FFF;


}
    .about
{
    background-color: #FFF;
    padding-bottom: 5%;

}
    .why
{
    background-color: #F3F3F3;

}
.header-wrapper {
    position: absolute;
left: 5%;
top: 40vh;
margin-right: 5%;
}
.header-title {
font-family: Open Sans;
font-style: normal;
font-weight: 800;
line-height: normal;
font-size: 4.5vw;
color: #FAFAFA;
}
.header-subtitle {
    position: absolute;
width: 257px;
height: 40px;
background: #F1F1F1;
opacity: 0.8;
border-radius: 60px;
}
.subtitle-wrapper {
    display: inline-block;
margin-top: 3%;
margin-left: 8%;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 20px;
color: #121212;
}
.arrow {
    width: 7%;
}

.logo-left {
    max-width: 100%;
    height: auto;
    padding-left: 15%;
    padding-top: 15%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.whath1{
    font-family: Open Sans;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 4vw;

color: #121212;
}
.whatp {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12pt;
text-align: justify;
}
.whatwrapper {
    padding-top: 5%;
    padding-right: 5%;
}
.pWhy {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12pt;
text-align: center;
color: #121212;
}

.pTesti {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
text-align: justify;
font-size: 12pt;
color: #121212;
}

.sButton {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12pt;
text-align: center;
font-size: 2vh;
padding: 3% 3% 3% 3%;
color: #999999;
}

.sButton:hover {
    font-family: Roboto;
font-style: bold;
font-weight: bold;
line-height: normal;
font-size: 12pt;
text-align: center;
font-size: 2vh;
padding: 3% 3% 3% 3%;
}

.readmore{
width: 183px;
height: 28px;
background: #000;
border-radius: 60px;
margin-bottom: 5%;
}
.readmore-wrapper {
    display: inline-block;
margin-top: 3%;
margin-left: 10%;
text-align: center;
font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12pt;
text-decoration: none !important;
color: #FFF;
}
.hWhy {
    text-align: center;
    font-family: Open Sans;
    font-style: bold;
    font-weight: bold;
    line-height: normal;
    font-size: 3vw;
    color: #121212;
}
.card{
    /* Add shadows to create the "card" effect */
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 30vw;
    min-height: 60vh;
    border-radius: 3%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.crop {
    height: 50%;
    overflow: hidden;
}
/* Add some padding inside the card container */
.container {
    padding: 2rem 2rem;
    width: 100%;
}
.selengkapnyaWrapper {
    border-top: 2px solid #CCCCCC;
}
.selengkapnyaWrapper:hover {
    background: #F3F3F3;
    border-top: 2px solid #F3F3F3;
}
.slick-slide {
    margin-left: 0.5%;
    margin-right: 0.5%;
}
.roleText{
  font-family: Open Sans;
  font-style: normal;
  line-height: normal;
  font-weight: 600;
  font-size: 1.5vw;
color: #3C7BBE;
}
.footerLinks {
font-family: Roboto;
font-style: normal;
font-weight: 100;
color: #FAFAFA;
}
@media only screen and (max-width: 768px) {
    .body > p {
        font-size: 1.5rem;
    }
    .icon {
        width: 5rem;
        height: auto;
    }
    .holder {
        min-height: 100vh;
    }
    .thumb {
        width: 100%;
    }
    .header-title {
        font-size: 10vw;
    }
    .whath2 {
        display:none;
    }
.roleText {
  text-align: center;
}
.pTesti {
  text-align: center;
}
.whatwrapper {
    padding-left: 5%;
    padding-right: 5%;
    align-self: center;
}
.whath1{
    font-family: Open Sans;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 8vw;

    color: #121212;
}
.logo-left {
    max-width: 100%;
    height: auto;
    margin: auto;
    padding-right: 15%;
}
.hWhy {
  text-align: center;
    font-family: Open Sans;
    font-style: bold;
    font-weight: normal;
    line-height: normal;
    font-size: 8vw;
    color: #121212;
}
.helper {
    display: inline-block;
    height: 100%;
}
</style>

{% endblock %}
