{% load staticfiles %}
{% load static %}
<!-- templates/lab_5/partials/footer.html -->
<!-- TODO, CREATE THIS FILE AND ADD copyright symbol -->
<div class="desktop wrap row">
<div class="colWrap col-md-3 col-xs-12">
<img class="logoFoot" src="{% static 'assets/logonav.png' %}">
</div>
<div class="colWrap col-md-3 col-xs-6">
<h2 class="footTitle">Bantuan</h2>
<div class="footerLinks">
<p>Cara Pesan</p>
<p>FAQ</p>
<p>Privasi dan Kebijakan</p>
<p>Syarat dan Ketentuan</p>
</div>
</div>
<div class="colWrap col-md-3 col-xs-6">
<h2 class="footTitle">Media Sosial</h2>
<div style="padding-left:5%;" class="row">
<a href="http://line.me/R/ti/p/@dwu2413c" target="_blank"><img src="{% static 'assets/Line.svg' %}"></a> 
<a href="https://www.instagram.com/mahasewa.id/" target="_blank" > <img src="{% static 'assets/Instagram.svg' %}"></a>
<a href="https://www.facebook.com/mahasewa.id.10" target="_blank"> <img src="{% static 'assets/Facebook.svg' %}"></a>
<a href="https://www.linkedin.com/company/mahasewa-id/about/" target="_blank"> <img src="{% static 'assets/linked_in.svg' %}"></a>
</div>
</div>
<div class="colWrap col-md-3 col-xs-6">
<h2 class="footTitle">Customer Service</h2>
<div class="footerLinks">
<p>Kenzi Anggaraksa</p>
<p>+62 822 9838 9267</p>
<p>mahasewa.id@gmail.com</p>
</div>
</div>
</div>

<!-- mobile layout -->

<div class="mobile wrap row">
<div class="colWrap col-md-12">
<img class="logoFoot" src="{% static 'assets/logonav.png' %}">
</div>
<div class="col-xs-6">
<div class="colWrap">
<h2 class="footTitle">Bantuan</h2>
<div class="footerLinks">
<p>Cara Pesan</p>
<p>FAQ</p>
<p>Privasi dan Kebijakan</p>
<p>Syarat dan Ketentuan</p>
</div>
</div>
<div class="colWrap">
<h2 class="footTitle">Customer Service</h2>
<div class="footerLinks">
<p>Kenzi Anggaraksa</p>
<p>+62 822 9838 9267</p>
<p>mahasewa.id@gmail.com</p>
</div>
</div>
</div>
<div class="col-xs-6">
  <div class="colWrap">
  <h2 class="footTitle">Media Sosial</h2>
  <div style="padding-left:5%;" class="row">
<a href="http://line.me/R/ti/p/@dwu2413c" target="_blank"><img src="{% static 'assets/Line.svg' %}"></a> 
<a href="https://www.instagram.com/mahasewa.id/" target="_blank" > <img src="{% static 'assets/Instagram.svg' %}"></a>
<a href="https://www.facebook.com/mahasewa.id.10" target="_blank"> <img src="{% static 'assets/Facebook.svg' %}"></a>
<a href="https://www.linkedin.com/company/mahasewa-id/about/" target="_blank"> <img src="{% static 'assets/linked_in.svg' %}"></a>
  </div>
  </div>
</div>
</div>

<style type="text/css">
 .wrap {
 	background: #121212;
   padding-bottom: 3rem;
 }
 .colWrap{
 	padding-left: 5%;
 }
 .logoFoot {
 	padding-top: 5%;
 }
 .footTitle {
 	font-family: Roboto;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 24px;

color: #FAFAFA;
 }
.mobile {
  display: none;
}
 @media only screen and (max-width: 768px) {
   .desktop {
     display: none;
   }
   .mobile {
     display: block;
     padding: 0% 5% 0% 5%;
   }
 }
</style>
