{% load staticfiles %}
{% load static %}


<!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="{% url 'pages:index' %} " class="navbar-brand">
              <img class="logo" src="{% static 'assets/logonav.png' %}">
            </a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url 'pages:katalog' %}">Cari Kamar</a></li>
              <li><a href="{% url 'pages:about' %}">About Us</a></li>
              <li><a href="{% url 'pages:blog' %}">Blog</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

<style type="text/css">
  .navbar {
    position: absolute;
    width: 100vw;
  background: none;
  border: none;
  padding: 2.5% 5% 0% 5%;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  border:none;
}
.navbar-brand {
  display:inline-block;
  float:left;
}

.nav.navbar-nav.navbar-right li a {
    font-family: Open Sans;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 20px;

color: #F1F1F1;
}
@media only screen and (max-width: 400px) {
.logo {
  width: 50vw;
  height: auto;
}
}
</style>
